* {
  font-family: "optima", sans-serif;
}
body {
  padding: 0;
  margin: 0;
  font-family: "optima", sans-serif;
  color: rgb(119, 119, 119);
  padding-top: 25vh;
  background: url("../images/layan\ -\ foot.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 522px;
  height: 325px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  background-color: rgb(227, 231, 233);
  background-color: #e2eaec;
  border-radius: 15px;
  padding: 25px 10px;
  text-align: center;
}
.container1 {
  width: 522px;
  height: 325px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  background-color: rgb(227, 231, 233);
  background-color: #e2eaec;
  border-radius: 15px;
  padding: 25px 10px;
}
.container2 {
  width: 460px;
  height: 350px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  background-color: rgb(227, 231, 233);
  background-color: #e2eaec;
  border-radius: 15px;
  padding: 25px 10px;
}
form {
  display: flex;
  flex-direction: column;
  width: 79%;
}

input {
  height: 44px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin: 22px;
  margin-left: 27px;
  padding-left: 15px;
  text-align: center;
  font-size: 18px;
  color: rgb(119, 119, 119);
  background-color: white;
}
.otpcode {
  margin-left: 85px;
}
.update {
  background-color: white;
  height: 40px;

  color: rgb(119, 119, 119);
  border: none;
  padding: 8px 30px;
  border-radius: 10px;
  font-size: 18px;
  margin: 44px 27px;
  align-items: center;
}
.update:hover {
  background-color: rgb(226, 226, 228);
}

button {
  height: 40px;
  background-color: white;
  color: rgb(119, 119, 119);
  border: none;
  padding: 8px 30px;
  border-radius: 10px;
  font-size: 18px;
  margin: 44px 27px;
  align-items: center;
}
button:hover {
  background-color: rgb(226, 226, 228);
}
p {
  font-size: 15px;
  align-items: center;
}
.logo {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: -20px;
  width: 250px;
  height: 140px;
}
.Dbutton {
  background-color: #00556d;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 30px;
  border-radius: 10px;
  font-size: 18px;
  margin: 5px 25px;
  align-items: center;
}
.Cbutton {
  background-color: #00556d;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 30px;
  border-radius: 10px;
  font-size: 18px;
  margin: 5px 25px;
  align-items: center;
}
.Dbutton:hover {
  background-color: rgb(111, 226, 58);
}
.Cbutton:hover {
  background-color: #f53c0d;
}
.navbar {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100px;
  margin-top: -230px;
}

.navbar {
  background-color: #ffffff;
  width: 100%;
  height: 100px;
  margin: 0px;
  margin-top: -200px;
}
.navbar a:hover {
  background: #f1f1f1;
  color: #00556d;
}
.navbar a {
  float: right;
  display: block;
  color: #00556d;
  text-align: center;
  padding: 25px 70px;
  text-decoration: none;
  font-size: 18px;
  padding-top: 40px;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display: none;
  background-color: hsl(192, 21%, 91%);
  border-radius: 15px;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: -310px;
  margin-left: 450px;
  width: 310px;
}

#message p {
  padding: 10px 35px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: rgb(99, 186, 99);
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: rgb(225, 95, 95);
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
