* {
  font-family: 'optima', sans-serif	; 
  }
body{
    padding: 0;
    margin: 0;
    background: url('../images/shutterstock_307771808-1.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
       color:#00556D ;
   
    padding-top: 0vh;
    
}


.navbar{ 
    background-color:#ffffff;
    width:100%;
    height:100px; 
    margin-top:-10px;
    }
    .navbar a:hover {
      background: #f1f1f1;
      color:#00556D ;
    }
    .navbar a{
        float:  right;
        display: block;
        color:#00556D ;

        text-align: center;
        padding: 25px 40px;
        text-decoration: none;
        font-size: 18px;
        padding-top: 40px;
    }
    
    .logo{
      position: absolute;
      top: 0px;
      left: 0px;
      margin-top: -20px;
     width: 250px;
     height: 140px;
        
     }

       
       .container{
        
 
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
   
    border-radius: 15px;
    padding: 25px 10x;
    margin-top: 30px;
    margin-left: 70px;
    font-size: 50px;
    text-align: center;

       }
       p{
        font-size: 30px; 
      }