* { 
     font-family: 'optima', sans-serif	;
}
body{
    background-color:#d6e7ed;
}
.navbar{ 
    background-color: #ffffff;
    width:100%;
    height:100px; 
    margin-top:-10px;
    }
    .navbar a:hover {
      background: #f1f1f1;
      color: #00556D;
    }
    .navbar a{
        float:  right;
        display: block;
        color: #00556D;
        text-align: center;
        padding: 25px 40px;
        text-decoration: none;
        font-size: 18px;
        padding-top: 40px;
    }
    #profile{
        height : 33px ;
        width : 33px ; 
      }
      .logo{
        position: absolute;
        top: 0px;
        left: 0px;
        margin-top: -20px;
       width: 250px;
       height: 140px;
          
       }
