body {
  background: url("../images/petFootSteps-left.png") repeat center center fixed;
  margin-bottom: auto;
  font-family: "optima", sans-serif;
}
.rev {
  width: 120px;
  height: 220px;
}

.container {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 500px;
  align-items: center;
  background-color: rgb(201, 230, 238);
  padding: 25px 10px;
  border-radius: 10px;
  opacity: 0.8;
}
.navbar {
  background-color: #ffffff;
  width: 100%;
  height: 100px;

  margin: -10px;
}
.navbar a:hover {
  background: #f1f1f1;
  color: #00556d;
}
.navbar a {
  float: right;
  display: block;
  color: #00556d;
  text-align: center;
  padding: 25px 40px;
  text-decoration: none;
  font-size: 18px;
  padding-top: 40px;
}

.logo {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: -20px;
  width: 250px;
  height: 140px;
}

.petPic {
  width: 200px;
  height: 200px;
  padding-left: 20px;
  padding-top: 10px;
}
.area {
  margin-left: 29px;
  margin-top: 0px;
}
#p {
  text-align: center;
}
#label {
  text-align: center;
  margin-left: 29px;
}
button {
  background-color: #00556d;
  color: #ffffff;
  border: none;
  padding: 8px 30px;
  border-radius: 10px;
  font-size: 18px;
  margin: 5px 25px;
  align-items: center;
  font-family: "optima", sans-serif;
}
button:hover {
  background-color: rgb(111, 226, 58);
}
.loginbut {
  margin: -1px auto;
}
.l2:hover {
  background-color: rgb(111, 226, 58);
}
.l:hover {
  background-color: rgb(255, 11, 11);
}
